.header {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;

  padding: 0.5rem;

  backdrop-filter: brightness(0.9) blur(0.1875rem);

  transition-duration: var(--transition-duration);
  transition-property: opacity;

  &[inert] {
    opacity: 0;
  }

  .close-button,
  .sound-button {
    cursor: pointer;

    width: 1.5rem;
    height: 1.5rem;
    padding: 0;

    color: var(--color-white);

    background-color: transparent;
    border: none;
    border-radius: 0.5rem;

    transition-duration: var(--transition-duration);
    transition-property: background-color, box-shadow;

    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0.25rem 0.1rem var(--color-white);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--color-teal-darker);
        box-shadow: 0 0 0.25rem 0.1rem var(--color-white-aa);
      }
    }
  }
}

.container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  padding: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  .pick-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .pick-button {
      padding: 0.5rem 1rem;
      background-color: var(--color-teal-darker);

      &:active {
        background-color: var(--color-teal-darker);
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover:not(:active) {
          background-color: var(--color-teal);
        }
      }
    }

    .duration-label {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      .duration-input {
        max-width: 3.5rem;
        padding: 0.5rem;

        line-height: normal;
        color: var(--color-white);

        background-color: var(--color-black-60);
        border: none;
        outline: none;
        box-shadow: 0 0 0.25rem 0.1rem var(--color-white-80);

        transition-duration: var(--transition-duration);
        transition-property: background-color, box-shadow, opacity;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          margin: 0;
          appearance: none;
        }

        &::placeholder {
          color: var(--color-white);
          opacity: 0.5;
        }

        &[type='number'] {
          appearance: textfield;
        }

        &:disabled {
          pointer-events: none;
          opacity: 0.7;
          background-color: var(--color-gray);
        }

        &:focus-visible {
          box-shadow:
            0 0 0.25rem 0.1rem var(--color-white),
            inset 0 0 0.1rem 0.05rem var(--color-white);
        }

        @media (hover: hover) and (pointer: fine) {
          &:hover:not(&:focus-visible, &:disabled) {
            box-shadow: 0 0 0.25rem 0.1rem var(--color-white);
          }
        }
      }
    }
  }

  .picked-option {
    overflow-x: hidden;
    flex-shrink: 0;

    width: 100%;
    margin-block: 0;
    padding: 0.5rem;

    font-weight: 500;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 0 0 0.15rem var(--color-white);

    box-shadow: 0 0 0.25rem 0.1rem var(--color-white-80);

    &.picked {
      box-shadow: 0 0 0.25rem 0.1rem var(--color-lime);
    }
  }

  .canvas {
    width: 100%;
  }
}
