.listOfOptions {
  display: grid;
  grid-template:
    'heading heading' min-content
    'lots lots' min-content
    'addLotButton addLotButton' min-content
    'clearListButton clearListButton' min-content
    'saveToFileButton loadFromFileButton' min-content
    'startButton startButton' min-content
    / 1fr 1fr;
  gap: 1rem;

  width: 100%;
  max-width: 48rem;
  padding: 1rem;

  .heading {
    grid-area: heading;
    margin: 0;
    text-align: center;
    text-shadow: 0 0 0.25rem var(--color-white);
  }

  .optionList {
    display: flex;
    grid-area: lots;
    flex-direction: column;
    gap: 0.5rem;
  }

  .addOptionButton {
    grid-area: addLotButton;
  }

  .startButton {
    grid-area: startButton;
  }

  .saveToFileButton {
    grid-area: saveToFileButton;
  }

  .loadFromFileButton {
    grid-area: loadFromFileButton;
  }

  .clearListButton {
    grid-area: clearListButton;
  }
}
