.lot {
  display: flex;
  gap: 1rem;
  align-items: center;

  padding: 0.6rem 0.8rem;

  background-color: lightseagreen;
  border-radius: 0.5rem;
}

.id {
  cursor: pointer;

  flex-shrink: 0;

  width: 3rem;
  padding: 0.5rem;

  text-align: center;

  background-color: #00000030;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.25rem 0.1rem #ffffff80;
}

.title {
  flex-grow: 1;
  width:100%;
  min-width: 5rem;
}

.weight {
  max-width: 5rem;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }

  &[type='number'] {
    appearance: textfield;
  }
}

.title,
.weight {
  padding: 0.5rem;

  color: inherit;

  background-color: #00000060;
  border: none;
  outline: none;
  box-shadow: 0 0 0.25rem 0.1rem #ffffff80;

  transition-duration: 0.2s;

  &::placeholder {
    color: inherit;
    opacity: 0.5;
  }

  &:focus {
    box-shadow:
      0 0 0.25rem 0.1rem #fff,
      inset 0 0 0.1rem 0.05rem #fff;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(&:focus) {
      box-shadow: 0 0 0.25rem 0.1rem #fff;
    }
  }
}

.updateButton,
.deleteButton {
  cursor: pointer;

  padding: 0.5rem;

  color: inherit;

  background-color: #00000030;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem 0.1rem #fffa;

  transition-duration: 0.2s;

  &:focus {
    outline: none;
    box-shadow: 0 0 0.25rem 0.1rem #fff;
  }

  &:active {
    background-color: #00000030;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.7;
    background-color: #808080;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #00000040;
    }
  }
}
