.errorMessage {
  padding: 3rem;
}

.closeButton {
  cursor: pointer;

  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  width: 1.5rem;
  height: 1.5rem;

  color: inherit;

  background-color: transparent;
  border: none;
  border-radius: 0.5rem;

  transition-duration: var(--transition-duration);

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0.25rem 0.1rem var(--color-white);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--color-teal-darker);
      box-shadow: 0 0 0.25rem 0.1rem var(--color-white-aa);
    }
  }
}
