.uiButton {
  cursor: pointer;

  padding: 0.5rem;

  color: inherit;

  background-color: #ffffff40;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem 0.1rem #fffa;

  transition-duration: 0.2s;

  &:focus {
    outline: none;
    box-shadow: 0 0 0.25rem 0.1rem #fff;
  }

  &:active {
    background-color: #ffffff40;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.7;
    background-color: #808080;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(:active) {
      background-color: #ffffff60;
    }
  }
}
