.uiDialog {
  padding: 0;

  color: inherit;

  background-color: var(--color-teal-cc);
  border: unset;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.25rem 0.1rem var(--color-white-80);

  &::-webkit-scrollbar {
    display: none;
  }

  &::backdrop {
    backdrop-filter: blur(0.1875rem);
    transition-duration: var(--transition-duration);
  }

  &.darkened::backdrop {
    backdrop-filter: blur(0.1875rem) brightness(0.75);
  }
}
