.wrapper {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem;

  backdrop-filter: blur(3px);

  transition-duration: 0.2s;

  &.darkened {
    backdrop-filter: blur(3px) brightness(0.75);
  }

  .container {
    position: relative;

    overflow-y: auto;

    max-height: calc(100dvh - 2rem);

    background-color: #008c8ccc;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.25rem 0.1rem #ffffff80;

    &::-webkit-scrollbar {
      display: none;
    }

    .closeButton {
      cursor: pointer;

      position: absolute;
      top: 0.5rem;
      right: 0.5rem;

      width: 1.5rem;
      height: 1.5rem;
      padding: 0;

      color: inherit;

      background-color: transparent;
      border: none;
      border-radius: 0.5rem;

      transition-duration: 0.2s;

      &.hidden {
        pointer-events: none;
        opacity: 0;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0.25rem 0.1rem #fff;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: #007c7c;
          box-shadow: 0 0 0.25rem 0.1rem #fffa;
        }
      }
    }
  }
}
