@import url('modern-normalize/modern-normalize.css');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100dvh;

  color: #fff;

  background-color: darkcyan;
}

.body-no-scroll {
  overflow: hidden;
}
