@import url('modern-normalize/modern-normalize.css');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100dvh;

  font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;

  background-color: darkcyan;
}

button {
  user-select: none;
}

.body-no-scroll {
  overflow: hidden;
}
