.ui-button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem;

  color: var(--color-primary-50);

  background-image: linear-gradient(var(--color-primary-300), var(--color-primary-700));
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem 0.1rem var(--color-primary-200);

  transition-duration: var(--transition-duration);
  transition-property: filter, box-shadow, opacity;

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0.25rem 0.1rem var(--color-primary-50);
  }

  &:active {
    filter: brightness(1.05);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.8;
    filter: grayscale(1);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(:active) {
      filter: brightness(1.1);
    }
  }
}
