.ui-dialog {
  overflow: unset;
  padding: 0;
  border: unset;
  background: unset;

  &::-webkit-scrollbar {
    display: none;
  }

  &::backdrop {
    backdrop-filter: blur(0.1875rem);
    transition-duration: var(--transition-duration);
    transition-property: backdrop-filter;
  }

  &.darkened::backdrop {
    backdrop-filter: blur(0.1875rem) brightness(0.75);
  }
}

body:has(dialog[open]) {
  overflow: hidden;
}
